{% extends 'layout.html' %}

{% block body %}
    <h1>Enter name: </h1>
    <form method="POST" action="\send">
        <div>
            <input type="text" name="user_name">
        </div>
        <input type="submit" value="submit">
    </form>
{% endblock %}
